body {
  font-family: 'Hind', sans-serif;
}
:root {
  --main-green: rgb(157, 231, 180);
  --main-purple: rgb(115, 114, 220);
  --bg-purple-one: rgb(116, 54, 205);
  --bg-purple-two: rgb(116, 78, 212);
  --bg-grey: rgb(246, 249, 252);
  --bg-grey-light: rgb(252, 252, 253);
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 2vh 6vw;
  width: 88vw;
}
.logo {
  font-weight: 600;
}
header nav {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
header nav div {
  padding-right: 50px;
}
header a {
  padding-right: 25px;
}
.support {
  background-color: var(--main-green);
  text-align: center;
  color: #fff;
  padding: 5px 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}