body {
  font-family: 'Hind', sans-serif;
  color: #fff;
  margin: 0;
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}
:root {
  --main-green: rgb(157, 231, 180);
  --main-green-hover: rgb(194, 224, 203);
  --main-purple: rgb(115, 114, 220);
  --bg-purple-one: rgb(116, 54, 205);
  --bg-purple-two: rgb(116, 78, 212);
  --bg-grey: rgb(246, 249, 252);
  --bg-grey-light: rgb(252, 252, 253);
  --main-text: rgb(61, 62, 102);
}
a {
  text-decoration: none;
  color: inherit;
}
header a:hover {
  border-bottom: 1px solid #fff;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 3vh 10vw;
  height: 14vh;
  width: 80vw;
  background: linear-gradient(170deg, var(--bg-purple-one) 35%, var(--bg-purple-two) 35%);
}
.logo {
  font-weight: 600;
}
.logo:hover {
  transform: scale(1.1);
  border: none;
}
header nav {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 30vw;
}
header a {
  margin-right: 25px;
}
.support {
  background-color: var(--main-green);
  text-align: center;
  padding: 5px 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.support:hover {
  border: none;
  color: var(--main-green);
  background-color: white;
}
.main {
  background: linear-gradient(170deg, var(--bg-purple-two) 48%, var(--main-purple) 48%, var(--main-purple) 64%, #fff 64%);
  padding-bottom: 20vh;
}

form {
  text-align:center;
}
form h1 {
  font-size: 48px;
  width: 390px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
}
h1 span {
  color: var(--main-green);
}
form input {
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
form input[type=text] {
  width: 350px;
  padding-left: 20px;
  height: 57px;
}
form input[type=submit] {
  color: #fff;
  background-color: var(--main-green);
  width: 90px;  
  height: 59px;
  margin-left: 5px;
}
form input[type=submit]:hover {
  color: var(--main-green);
  background-color: white;
  cursor: pointer;
}
.learn {
  text-align: center;
  padding-top: 20vh;
}
.learn h3 {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.learn img {
  background-color: var(--main-green);
  border-radius: 100%;
  height: 30px;
  padding: 14px 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.learn img:hover {
  animation: bounce 2s;
  cursor: pointer;
}

.create {
  text-align: center;
  margin: 0 auto;
  width: 50vw;
  padding-bottom: 10vh;
}
.create p {
  color: var(--main-text);
  font-weight: 300;
  font-size: 22px;
  line-height: 1.4;
}
.account {
  text-align: center;
  background-color: var(--main-purple);
  width: 220px;
  margin: 4vh auto;
  border-radius: 5px;
  padding: 5px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
.account:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: var(--main-purple);
}
.services {
  background: linear-gradient(170deg, #fff 58%, var(--bg-grey) 58%);
}
.services h2 {
  font-weight: 300;
  color: var(--main-text);
}
.our-services {
  text-align: center;
}
.our-services:after {
  content : "";
  display: block;
  margin: 0 auto;
  width: 50px;
  border-bottom: 2px solid rgb(89, 90, 111);
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  color: var(--main-text);
}
.services-element img {
  width: 120px;
  padding: 20px;
}
.services-element {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-grey-light);
  border: 0.5px solid rgb(246, 246, 248);
  border-radius: 5px;
  margin: 10px 15px;
  align-items: center;
}
.services-element:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.services-element>div>p {
  width: 26vw;
  margin: 0 20px 30px 0;
  line-height: 1.1;
}
.services h4 {
  margin: 30px 0 10px;
}

.ready {
  display: flex;
  justify-content: space-between;
  padding: 5vh 10vw;
}
.ready-left h2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  line-height: 1.2;
  font-size: 22px;
}
.ready-left h2:first-child {
  color: var(--main-purple);
}
.ready-left h2:nth-child(2) {
  color: var(--bg-purple-one);
}
.ready-left {
  margin-top: 2.5vh;
}
.ready-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-us {
  text-align: center;
  color: var(--main-text);
  width: 140px;
  border-radius: 5px;
  padding: 5px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  margin-left: 1.5vw;
}
.contact-us:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: var(--main-text);
}

footer {
  background-color: var(--main-purple);
  display: flex;
  justify-content: space-between;
  padding: 10vh 10vw;
  font-weight: 300;
  font-size: 14px;
  line-height: 2;
}
.footer-title {
  font-weight: 600;
  font-size: 18px;
}
.col5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.col5 img {
  width: 30px;
  padding: 0 20px 20px;
}
.col1 {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 7px;
}
.col1, .col5 {
  padding-top: 7px;
}
.col1 img {
  height: 15px;
  padding: 0 15px;
}
.address {
  display: flex;
}
.col>div:not(.footer-title):hover {
  cursor: pointer;
  font-weight: 400;
}
footer img:hover {
  transform: scale(1.1);
}
