body {
  font-family: 'Hind', sans-serif;
  color: #fff;
  margin: 0;
}
:root {
  --main-green: rgb(157, 231, 180);
  --main-purple: rgb(115, 114, 220);
  --bg-purple-one: rgb(116, 54, 205);
  --bg-purple-two: rgb(116, 78, 212);
  --bg-grey: rgb(246, 249, 252);
  --bg-grey-light: rgb(252, 252, 253);
  --main-text: rgb(61, 62, 102);
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 3vh 9vw;
  height: 14vh;
  width: 82vw;  
  background: linear-gradient(170deg, var(--bg-purple-one) 35%, var(--bg-purple-two) 35%);
}
.logo {
  font-weight: 600;
}
header nav {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 30vw;
}
header a {
  padding-right: 25px;
}
.support {
  background-color: var(--main-green);
  text-align: center;
  padding: 5px 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.main {
  background: linear-gradient(170deg, var(--bg-purple-two) 48%, var(--main-purple) 48%, var(--main-purple) 64%, #fff 64%);
  padding-bottom: 20vh;
}

form {
  text-align:center;
}
form h1 {
  font-size: 48px;
  width: 390px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
}
h1 span {
  color: var(--main-green);
}
form input {
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
form input[type=text] {
  width: 350px;
  padding-left: 20px;
  height: 57px;
}
form input[type=submit] {
  color: #fff;
  background-color: var(--main-green);
  width: 90px;  
  height: 59px;
  margin-left: 5px;
}
.learn {
  text-align: center;
  padding-top: 20vh;
}
.learn h3 {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.learn img {
  background-color: var(--main-green);
  border-radius: 100%;
  height: 30px;
  padding: 14px 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.create {
  text-align: center;
  margin: 0 auto;
  width: 50vw;
  padding-bottom: 10vh;
}
.create p {
  color: var(--main-text);
  font-weight: 300;
  font-size: 22px;
  line-height: 1.4;
}
.account {
  background-color: var(--main-purple);
  width: 220px;
  margin: 4vh auto;
  border-radius: 5px;
  padding: 5px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.services {
  color: var(--main-text);
  text-align: center;
  font-weight: 300;
}
.services:after {
  content : "";
  display: block;
  margin: 0 auto;
  width: 50px;
  border-bottom: 2px solid rgb(89, 90, 111);
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  color: var(--main-text);
}
.services-element img {
  width: 120px;
  padding: 20px;
}
.services-element {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-grey-light);
  border: 0.5px solid rgb(89, 90, 111);
  border-radius: 5px;
  margin: 10px;
  align-items: center;
}
.services-element>div>p {
  width: 300px;
  margin: 0 20px 30px 0;
  line-height: 1.1;
}
h4 {
  margin: 30px 0 10px;
}